.cv-header {
  background-color: purple;
  text-align: center;
  color: white;
  margin: 0 0 20px;
  padding: 3vw;
}

.cv-main {
  text-wrap: wrap;
  padding: 0 20px 20px;
}

h2 {
  background-color: plum;
}

li {
  padding: 5px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
